mixin navItem(title, link)
    li.nav-list__item
        a.nav-list__item-link(href=link)
            =title

mixin navButtonItem(title, link)
    li.nav-list__item
        a.nav-list__item-link.button(href=link)
            =title

mixin hamburgerMenu(count)
    .hamburger
        - for (let i = 0; i < count; i++)
            .line

mixin place(link, place, starsCount, length, price, hidden)
    .place
        .img-wrapper
            img.img(src=link alt="")
            .price=price + '$'
            .place=place
        unless hidden
            .img-info
                .rating
                    - for (let i = 0; i < 5; i++)
                    if i >= starsCount
                        img.star.filled(src="img/rating/filled_star.jpg")
                    else
                        img.star(src="img/rating/star.jpg")
                .length=length

mixin videoItem(title, link, length, current)
    if current
        .video.current
            img.preview(src=link)
            .info
                .title=title
                .length=length
    else
        .video
            img.preview(src=link)
            .info
                .title=title
                .length=length

mixin galleryPhoto(title, link)
    .photo
        img.img(src=link)
        .title=title

mixin pagination(pagesCount, activePage)
    .pagination
        - for (let i = 0; i < pagesCount; i++)
            if activePage === i +1
                .page.active
            else
                .page

mixin socialItem(link)
    img.social-item(src=link alt="")
